//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 13 22:05:32 2015
//! **************************************************************************

SCHEMATIC START;
COMP "E<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "E<2>" LOCATE = SITE "G13" LEVEL 1;
COMP "E<3>" LOCATE = SITE "H16" LEVEL 1;
COMP "F<0>" LOCATE = SITE "H15" LEVEL 1;
COMP "F<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "F<2>" LOCATE = SITE "G16" LEVEL 1;
COMP "F<3>" LOCATE = SITE "J12" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "K15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "Led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "A<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "en" LOCATE = SITE "G18" LEVEL 1;
COMP "A<1>" LOCATE = SITE "K12" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "A<2>" LOCATE = SITE "L17" LEVEL 1;
COMP "A<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "B<0>" LOCATE = SITE "K13" LEVEL 1;
COMP "B<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "clr" LOCATE = SITE "H18" LEVEL 1;
COMP "B<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "B<3>" LOCATE = SITE "M16" LEVEL 1;
COMP "C<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "C<1>" LOCATE = SITE "R18" LEVEL 1;
COMP "C<2>" LOCATE = SITE "R15" LEVEL 1;
COMP "C<3>" LOCATE = SITE "T17" LEVEL 1;
COMP "D<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "D<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "D<2>" LOCATE = SITE "T18" LEVEL 1;
COMP "D<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "E<0>" LOCATE = SITE "G15" LEVEL 1;
SCHEMATIC END;

